<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Event Details</title>
</head>
<body>

<h2>Event Details</h2>

<div>
  <h3>Event Name: <span th:text="${event.name}">Event Name</span></h3>
  <p>Description: <span th:text="${event.description}">Event Description</span></p>
  <p>Popularity Score: <span th:text="${event.popularityScore}">0.0</span></p>
  <p>Location:</p>
  <ul>
    <li>Name: <span th:text="${event.location.name}">Location Name</span></li>
    <li>Address: <span th:text="${event.location.address}">Location Address</span></li>
    <li>Capacity: <span th:text="${event.location.capacity}">0</span></li>
    <li>Description: <span th:text="${event.location.description}">Location Description</span></li>
  </ul>
  <br/>
</div>

<form th:method="get" th:action="@{/events}">
  <input type="submit" value="Back to Events">
</form>

</body>
</html>